body{
	margin:0;
	background:url("../images/back.png");
}

@media screen and (max-width:767px){

body{
	background-image:url("../images/back.png");
	margin: 0;
	position: relative;
}

header img{
	width:100%;
}

#slideshow {
   position: relative;
   margin: 0;
}
#slideshow img {
  position: absolute;
   top: 0;
   left:0;
   z-index: 1;
   opacity: 0.0;
}
#slideshow img.active {
   z-index: 3;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 2;
}



#main0{
	position:relative;
}

.main2{
	position:absolute;
	z-index: 4;
	left:23%;
	top:5%;
	width:55%;
}

.main2 img{
	width:100%;
<<<<<<< HEAD
	margin-top: 15%;
=======
	margin-top: 12%;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}

.main3{
	position: absolute;
<<<<<<< HEAD
    z-index: 5;
    margin-top: 43%;
    margin-left: 5%;
=======
    right: 1%;
    margin-top: 33%;
    width: 25%;
    z-index: 5;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}

.main3 p{
	color: #ffffff;
    text-decoration: none;
    font-family: Ã¦Â¸Â¸Ã£â€šÂ´Ã£â€šÂ·Ã£Æ’Æ’Ã£â€šÂ¯Ã¤Â½â€œ, 'Yu Gothic';
    font-weight: bold;
    font-size: 3vw;

}

.main4{
	position: absolute;
<<<<<<< HEAD
	right: 0;
	width: 35%;
	z-index: 5;
	padding-top: 0;
	margin-top: -1%;
}

.main4 img{
	width: 100%;
}


main{
  overflow: hidden;
  position: relative;
  /* margin-top: 58%; */
}
#menu{
	list-style-type: none;
	padding: 0;
	z-index: 9999;
	margin: 0;
	display: none;
	background: rgba(54, 54, 54, 0.55);
	width: 100%;
	}
nav.menu			{
	 	width: 25px;
	 	height: 30px;
	 	margin-top: 7%;
	 	left: 4%;
	 	position: fixed;
	 	cursor: pointer;
	 	z-index: 9999;
	}
nav .menu1			{ width:25px; height:2px; background-color: #e8d715; top:0px; position:absolute; }
nav .menu2			{ width:25px; height:2px; background-color: #e8d715; top:8px; position:absolute; }
nav .menu3			{ width:25px; height:2px; background-color: #e8d715; top:16px; position:absolute; }
=======
    right: 1%;
    top: 39%;
    width: 25%;
    z-index: 6;
    margin-top: 33%;
}

.main4 img{
	width:100%;
	margin-top: 49%;
}

main{
  overflow: hidden;
  position: absolute;
  margin-top: 58%;

}
/*ハンバーガー menu*/
#menu{
	list-style-type: none;
	padding: 5px 20px 0px 64px;
	z-index: 9999;
	margin: 0 9%;
	display: none;
		}
nav.menu			{
	 	width: 25px;
    height: 30px;
    top: 75px;
    right: 87%;
    position: absolute;
    cursor: pointer;
    z-index: 9999; }
nav .menu1			{ width:25px; height:2px; background-color: #ffffff; top:0px; position:absolute; }
nav .menu2			{ width:25px; height:2px; background-color: #ffffff; top:8px; position:absolute; }
nav .menu3			{ width:25px; height:2px; background-color: #ffffff; top:16px; position:absolute; }
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
nav .menu1,nav .menu2,nav .menu3
					{ transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; /* Opera */ -moz-transition: all 0.5s ease-out; /* Firefox */
					 -webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */ -ms-transition: all 0.5s ease-out; /* IE */ }
					 nav .menuclick1		{ top:8px; -o-transform: rotate(405deg); -moz-transform: rotate(405deg); -webkit-transform: rotate(405deg);
					 				 	-ms-transform: rotate(405deg); transform: rotate(405deg); }
					 nav .menuclick2		{ background-color:rgba(255,255,255,0);  }
					 nav .menuclick3		{ top:8px; -o-transform: rotate(-405deg); -moz-transform: rotate(-405deg);
					 					-webkit-transform: rotate(-405deg); -ms-transform: rotate(-405deg); transform: rotate(-405deg); }

.clearfix{
	margin-right: 3%;
  margin-top: -16%;
}
header ul {margin:0}
header ul li {
    display:block;
    margin:0;
<<<<<<< HEAD
    line-height: 2;
 }

nav{
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
=======
    line-height:3
	}

/*ここまで　ハンバーガー menu*/
nav{
	position: relative;
	width: 100%;
  margin: 0 -7%;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}

.gnavi{
	zoom: 1;
<<<<<<< HEAD
	position: absolute;
	z-index: 7;
	margin-top: 0;
	overflow: hidden;
	display: flex;
=======
    position: absolute;
    right: 17%;
    width: 83%;
    z-index: 7;
    margin-top: 0;
    overflow: hidden;
		display: flex;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
	}

ul{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content: space-around;
<<<<<<< HEAD
	justify-content: space-around;
	list-style:none;
	padding:0;
	list-style: none;
}
=======
    justify-content: space-around;
		list-style:none;
		padding:0;
		list-style: none;
}

>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0


.gnavi li{
<<<<<<< HEAD
	width: 20%;
	padding: 0;
	text-align:  center;
=======
	padding: 0;
	margin: 0;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}

.gnavi li:nth-child(2n){
	display:  none;
}

li a{
	display: block;
<<<<<<< HEAD
	text-decoration: none;
	color: #f5f2f9;
	font-family:'HG正楷書体-PRO','HGP行書体',cursive;
	font-size: 2.3vw;
	opacity: 0.9;
	padding: 0 1%;
}
li p,span{
	display: none;
}
.gnavi li :hover{
	color: #454643;
	background-color: #ffffff;
=======
    /* border-left: 4px solid #55ea83; */
    background-color: #454643;
    text-decoration: none;
    color: #f5f2f9;
    width: 62px;
    margin: -11px 0px;
    text-align: center;
    font-size: 11px;
    height: 30%;
		opacity: 0.9;
}
li p,span{
	color: #ffffff00;

}
li a:hover{
color: #454643;
border-top: 1px solid #454643;
border-right: 1px solid #454643;
border-bottom: 1px solid #454643;
background-color: #ffffff;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}


.scroll{
<<<<<<< HEAD
	display: none;
}

=======
	bottom: -56%;
    left: 17.5%;
    width: 6%;
    z-index: 11;
}

.scroll img{
	width:100%;
    margin-top: -48%;
    margin-left: 675%;
		display: none;
}
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0

#content1{
	overflow:hidden;
	float:left;
	zoom:1;
	width:25%;
	margin: 58% 1% 1% 10%;
}

.content1_image img,
.content2_image img,
.content3_image img{
	width:100%;
}

.content1_text p,
.content2_text p,
.content3_text p{
	font-size:7.7px;
	/*font-family:'SimSun';*/
	text-align:center;
}

#content2{
	float:left;
	zoom:1;
	width:25%;
	margin: 58%1% 1% 1%;
}

#content3{
	float:left;
	zoom:1;
	width:25%;
	margin: 58% 1% 1% 1%;
}

.content4_image img{
	width:30%;
	margin:0% 0% 0% 10%;
}

#content4 p{
	width:70%;
	font-size:0.6em;
	margin-left:15%;
	/*font-family:'SimSun';*/
	line-height:170%;
}

.content5_image img{
	width:30%;
	margin:0% 0% 0% 10%;
}

.content6_image img{
	width:80%;
	margin:0% 0% 0% 10%;
}

#content5 p{
	width:70%;
	font-size:0.6em;
	margin-left:15%;
	/*font-family:'SimSun';*/
	line-height:170%;
}

.content7_image img{
	width:80%;
	margin:0% 0% 0% 10%;
}

.content8_image img{
	width:40%;
	margin:0% 0% 0% 10%;
}

#content6 p{
	width:70%;
	font-size:0.6em;
	margin-left:15%;
	/*font-family:'SimSun';*/
	line-height:170%;
}

table{
	border-collapse:collapse;
	/*font-family:'SimSun';*/
	font-size:6.5px;
	width:75%;
	margin-left:15%;
	text-align:center;
}

table th,table td{
	border:solid 1px #7f7e7c;
}

#footer{
	min-height: 70px;
<<<<<<< HEAD
	height: 10%;
	background-color: #302f2f;
	opacity: 0.5;
	position: absolute;
	/* bottom: -175%; */
	z-index: 14;
	width: 100%;
	overflow: hidden;
=======
  height: 10%;
    background-color: #302f2f;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    z-index: 14;
    width: 100%;
    overflow: hidden;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}

p.info{
	position:absolute;
	top:20%;
	left:15%;
	color:#ffffff;
	font-size:12px;
	/*font-family:'SimSun';*/
}

p.info1{
	position:absolute;
	top:15%;
	right:15%;
	font-size:10px;
	/*font-family:'SimSun';*/
	color:#ffffff;
}

p.info2{
	position:absolute;
	top:40%;
	right:15%;
	font-size:10px;
	/*font-family:'SimSun';*/
	color:#ffffff;
}

.page-top {
    margin: 0;
    padding: 0;

}

.page-top p {
    margin: 0;
    padding: 0;
		width: 100%;
    position: fixed;
    left: 88%;
    bottom: 13%;
		cursor: pointer;
    cursor: hand;

}
.page-top img{
	width: 10%;
	height: 10%;
}

<<<<<<< HEAD

#move-page-top {
    display: block;
=======
.move-page-top {
  background: #666;
    text-decoration: none;
    color: #fff;
    width: 2em;
    padding: 29% 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
  text-decoration: none;
  opacity: 0.7;
>>>>>>> 0708f5db9e1dbd70a06202800fe3173c3cb85dc0
}

#page-top a:hover {
  text-decoration: none;
  opacity: 0.7;
}


}
