.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateX(20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateX(20px); -ms-transform: translateX(20px); transform: translateX(20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
}

.fadeInDown2 {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown2;
 animation-name: fadeInDown2;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown2 {
 0% { opacity: 0; -webkit-transform: translateX(-20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes fadeInDown2 {
 0% { opacity: 0; -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); transform: translateX(-20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
}

body{
	margin:0;
	background:url("../images/back.png");
}

@media screen and (max-width:767px){

body{
	background-image:url("../images/back.png");
}

header img{
	width:100%;
}

#main0{

}

.top{
	overflow:hidden;
}

.main1{
	width:20%;
	margin-left:10%;
	float:left;
}

.main1 img{
	width:100%;
}

.gnavi{
    width:65%;
    text-align:center;
	float:right;
}

.gnavi ul{
	list-style:none;
	padding:0;
}

.gnavi li{
	float:left;
}

li img{
	width:100%;
}

li p{
	margin:0;
	color:#6a6767;
	text-align:center;
}

li a{
	text-decoration:none;
	color:#6a6767;
	font-family:'SimSun';
	font-size:70%;
}

.image1{
 	margin:10% 5% ;
 	position:relative;
}

.image1 div{
	width:100%;
}

.image1 div img{
	width:100%;
}

.image2{
  	margin:0% 5% ;
  	position:relative;
}

.image2 div{
	width:100%;
}

.image2 div img{
	width:100%;
  margin-top:35%;

}


.image3{
	  	margin:0% 5% ;
  	position:relative;
}

.image3 div{
	width:100%;
}

.image3 div img{
	width:100%;
  margin-top:45%;

}


.image4{
  	margin:0% 5% ;
  	position:relative;
}

.image4 div{
	width:100%;
}

.image4 div img{
	width:100%;
  margin-top:50%;
	}



#footer{
	min-height:70px;
	background-color:#302f2f;
	opacity:0.5;
	position:relative;
  	margin-top:45%;
}

p.info{
	position:absolute;
	top:20%;
	left:15%;
	color:#ffffff;
	font-size:12px;
	font-family:'SimSun';
}

p.info1{
	position:absolute;
	top:15%;
	right:15%;
	font-size:10px;
	font-family:'SimSun';
	color:#ffffff;
}

p.info2{
	position:absolute;
	top:40%;
	right:15%;
	font-size:10px;
	font-family:'SimSun';
	color:#ffffff;
}

.page-top {
    margin: 0;
    padding: 0;

}

.page-top p {
    margin: 0;
    padding: 0;
		width: 100%;
    position: fixed;
    left: 88%;
    bottom: 13%;
		cursor: pointer;
    cursor: hand;

}
.page-top img{
	width: 10%;
	height: 10%;
}


#move-page-top {
    display: block;
}

#page-top a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/*ここから追加*/
.pc { display: none !important; }
.sp { display: block !important; }


.circle1 img{
  position: absolute;
  top:68%;
}
.circle1 p{
  position: absolute;
  color: #8b0000;
  font-size: 3.4vw;
  top: 107%;
  left: 21%;
  margin:0;
  padding:0;
  text-align: center;
}
.circle2 img{
  position: absolute;
  top:48%;
}
.circle2 p{
  position: absolute;
  color: #8b0000;
  font-size: 3.1vw;
  top: 105%;
  right: 11%;
  margin:0;
  padding:0;
  text-align: justify;
}
.circle3 img{
  position: absolute;
  top:41%;
}
.circle3 p{
  position: absolute;
  color: #8b0000;
  font-size: 3.3vw;
  top: 101%;
  left: 11%;
  margin:0;
  padding:0;
  text-align: justify;
}
.circle4 img{
  position: absolute;
  top:40%;
}
.circle4 p{
  position: absolute;
  color: #8b0000;
  font-size: 3.4vw;
  top: 103%;
  right: 30%;
  margin:0;
  padding:0;
  text-align: center;
}
/*ハンバーガーメニュー*/
.sp .drawer-hamburger-icon,
.sp .drawer-hamburger-icon:after,
.sp .drawer-hamburger-icon:before{
  background-color:#8b0000;
}
li a{
	display: block;
	text-decoration: none;
	color: #8b0000;
	font-family:'HG正楷書体-PRO','HGP行書体',cursive;
	font-size: 5.3vw;
	font-weight:bold;
	opacity: 0.9;
	padding: 10px 1%;
}
.drawer-nav{
	z-index: 4!important;
	background-color: #fffaf0!important;
	width: 12.25rem!important;
}
}
