.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.fadeInDown4 {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown4;
 animation-name: fadeInDown4;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown4 {
 0% { opacity: 0; -webkit-transform: translateX(20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes fadeInDown4 {
 0% { opacity: 0; -webkit-transform: translateX(20px); -ms-transform: translateX(20px); transform: translateX(20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
}

*{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	/*font-family:"Source Sans Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "Meiryo", sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings : "palt";
}

body{
	margin:0;
	background:url("../images/back.png");
  position: relative;
  min-height: 100%;
}

html,  body {
   margin: 0;
   width: 100%;
   height: 100%;
  }
.container {
  min-height: 100%;
  margin-bottom: -50px;
  margin:  0 auto;
  height: 100%;
 }

main{
  width: 100%;
    position: relative;

}
@media screen and (min-width:768px){

body{
	background-image:url("../images/back.png");
}


header img{
	width:100%;
}
#slideshow {
   position: relative;
   margin: 0;
}
#slideshow img {
  position: absolute;
   top: 0;
   left:0;
   z-index: 1;
   opacity: 0.0;
}
#slideshow img.active {
   z-index: 3;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 2;
}


#main0{
	position:relative;
}

.main2{
	position:absolute;
  z-index: 4;
	left:23%;
	margin-top:3%;
	width:55%;
}

.main2 img{
	width:100%;
}

.main3{
  position: absolute;
  right: 2%;
  z-index: 5;
  margin-top: 0%;
}


.main3 p{
	color: #ffffff;
	text-decoration: none;
	font-family: 游ゴシック体, 'Yu Gothic';
  font-size: 2.8vw;
  font-weight: bold;

}

main{
  overflow: hidden;
  position: relative;
  /* margin-top: 58%; */
  height: 100%;
  height:  auto;
  min-height: 100%;
}

.scroll{
  width: 8%;
  margin: 0% 40%;
  padding-top: 10%;
}

.scroll img{
	width:100%;
}

.clearfix{
	display: none;
}

.gnavi{
	overflow:hidden;
	zoom:1;
	position:absolute;
	width: 66%;
	z-index: 7;
	margin-top: 42%;
	margin-left: 21%;
}

.gnavi ul{
	list-style:none;
	padding:0;
	/* width:  100%; */
}

.gnavi li{
	float:left;
	/* width: 10%; */
	text-align: center;
	padding: 0 0 0 0.7%;
}

.gnavi li:nth-child(2n){
	width:2%;
}


li a{
	font-size: 2.3vw;
	font-weight: 300;
	font-family:'HG正楷書体-PRO','HGP行書体',cursive;
	color: rgba(255, 255, 255, 0.8);
	text-decoration:none;
	color: rgba(255, 255, 255, 0.8);
	color: #fff;
	text-shadow: 1px 2px 3px #3C3C3B;
}
.gnavi li a:after
.gnavi li a:before{
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.gnavi li a:after {
  content: '';
	width: 0;
	transition: all 0.3s ease;
	border-bottom: 0.2vw solid #fff;
	display: block;
  color: #ffffff
}


.gnavi li a:hover:after {
  width: 100%;
	border-bottom: 0.2vw solid #fff;
}
.gnavi li a:hover{
  color: #ffffff;
}


li p{
	margin:0;
	color:#ffffff;
	text-align:center;
	font-size: 2.3vw;
}

#content1{
	overflow:hidden;
	float:left;
	zoom:1;
	width:25%;
	margin: 58% 1% 1% 10%;
}

.content1_image img,
.content2_image img,
.content3_image img{
	width:100%;
}

.content1_text p,
.content2_text p,
.content3_text p{
	font-size:1.5vw;
	/*font-family:'SimSun';*/
	text-align:center;
}

#content2{
	float:left;
	zoom:1;
	width:25%;
	margin: 58% 1% 1% 1%;
}

#content3{
	float:left;
	zoom:1;
	width:25%;
	margin: 58% 1% 1% 1%;
}

.content4_image img{
	width:20%;
	margin:0% 0% 0% 10%;
}

#content4 p{
	width:70%;
	font-size:1.3vw;
	margin-left:15%;
	/*font-family:'SimSun';*/
	line-height:170%;
}

.content5_image img{
	width:20%;
	margin:0% 0% 0% 10%;
}

.content6_image img{
	width:60%;
	margin:0% 0% 0% 20%;
}

#content5 p{
	width:70%;
	font-size:1.3vw;
	margin-left:15%;
	/*font-family:'SimSun';*/
	line-height:170%;
}

.content7_image img{
	width:60%;
	margin:0% 0% 0% 20%;
}

.content8_image img{
	width:20%;
	margin:0% 0% 0% 10%;
}

#content6 p{
	width:70%;
	font-size:1.3vw;
	margin-left:15%;
	/*font-family:'SimSun';*/
	line-height:170%;
}

table{
	border-collapse:collapse;
	/*font-family:'SimSun';*/
	font-size:1.3vw;
	width:65%;
	margin-left:18%;
	text-align:center;
}

table th,table td{
	border:solid 1px #7f7e7c;
}

#footer{
  min-height: 25%;
  height: 25%;
  background-color: #302f2f;
  opacity: 0.5;
  position: absolute;
  z-index: 14;
  width: 100%;
  overflow: hidden;
  /* bottom: 0; */
}
#footer,
.push {
  height: 25%;
}

p.info{
	position:absolute;
	top:20%;
	left:25%;
	color:#ffffff;
	font-size:2vw;
	/*font-family:'SimSun';*/
}

p.info1{
	position:absolute;
	top:15%;
	right:32%;
	font-size:1.5vw;
	/*font-family:'SimSun';*/
	color:#ffffff;
}

p.info2{
	position:absolute;
	top:40%;
	right:25%;
	font-size:1.5vw;
	/*font-family:'SimSun';*/
	color:#ffffff;
}
.page-top {
    margin: 0;
    padding: 0;

}

.page-top p {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 88%;
    bottom: 25%;
	  width: 100%;
    cursor: pointer;
    cursor: hand;
}
.page-top img{
	width: 10%;
	height: 10%;
}


#move-page-top {
    text-decoration: none;
    display: block;
}

#page-top a:hover {
  text-decoration: none;
  opacity: 0.7;
}
/*ここから追加*/
.pc { display: block !important; }
.sp { display: none !important; }

}
